.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 2px solid #333;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.check{
	margin-left: 30px;
}